<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <%= link_to image_tag("3-slim.png", :width => 150, class:"imager2"), quests_path %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-nav navbar-right">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Options <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation", id:"options"><%= link_to 'Edit Profile',edit_user_registration_path, id:"options" %></li>
            <li role="presentation" class="divider", id:"options"></li>
            <li role="presentation", id:"options"><%= link_to "Sign out", destroy_user_session_path, method: :delete, id:"options" %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class='row'>
    <div class='col-md-4'>
      <div id="moveit">
        <h2>Duke's Information</h2>
        <p>Firstname: <strong><%= @duke.firstname %></strong></p>
        <p>Lastname: <strong><%= @duke.lastname %></strong></p>
        <% if @duke.is_mailingsameasphysicaladdress == false %>
          <div class="row">
            <div class='col-md-12'>
              <p>Mailing Address: <strong><%= @duke.mailingaddress %></strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <p><strong><%= @duke.mailingcity %> </strong></p>
            </div>
            <div class="col-md-2">
              <p><strong><%= @duke.mailingstate %>,</strong></p>
            </div>
            <div class='col-md-5'>
              <p><strong><%= @duke.mailingzipcode %></strong></p>
            </div>
          </div>
          <div class="row">
            <div class='col-md-12'>
              <p>Physical Address: <strong><%= @duke.physicaladdress %></strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <p><strong><%= @duke.physicalcity %> </strong></p>
            </div>
            <div class="col-md-2">
              <p><strong><%= @duke.physicalstate %>,</strong></p>
            </div>
            <div class='col-md-5'>
              <p><strong><%= @duke.physicalzipcode %></strong></p>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class='col-md-12'>
              <p>Physical Address: <strong><%= @duke.physicaladdress %></strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <p><strong><%= @duke.physicalcity %> </strong></p>
            </div>
            <div class="col-md-2">
              <p><strong><%= @duke.physicalstate %>,</strong></p>
            </div>
            <div class='col-md-5'>
              <p><strong><%= @duke.physicalzipcode %></strong></p>
            </div>
          </div>
        <% end %>
        <p>Age: <strong><%= (Time.now.utc.to_date.year - @duke.birthday.year - ((Time.now.utc.to_date.month > @duke.birthday.month || (Time.now.utc.to_date.month == @duke.birthday.month && Time.now.utc.to_date.day >= @duke.birthday.day)) ? 0 : 1)).to_s %></strong></p>
        <% if @duke.is_female == true %>
          <p>Gender: <strong>Female</strong></p>
        <% else %>
          <p>Gender: <strong>Male</strong></p>
        <% end %>
        <% if @duke.is_landline == true %>
          <p>Phone Style: <strong>Landline</strong></p>
        <% else %>
          <p>Phone Style: <strong>Cell</strong></p>
        <% end %>

        <h2>Notes on the Duke</h2>
        <% @notes.each do |note| %>
          <h4><%= note.title %></h4>
          <p><%= note.explanation %></p>
          <hr />
        <% end %>
        <h3>Create a new note on this duke below</h3>
        <%= form_for @note do |form| %>
          <%= form.label "Title:" %>
          <%= form.text_field :title, autocomplete: "off", class:"form-control" %>
          <%= form.label "Explanation:" %>
          <%= form.text_area :explanation, autocomplete: "off", class:"form-control", rows:"5", id:"comment" %>
          <%= form.hidden_field :squire_id, value: @quest.squire_id %>
          <%= form.hidden_field :duke_id, value: @quest.duke_id %>
          <%= form.hidden_field :quest_id, value: @quest.id %>
          <p><%= form.submit "Save", class:'btn btn-primary' %></p>
        <% end %>

        <h2>Contact the duke</h2>

        <h3>Preferred method to send Proposals:</h3>
        <% case @duke.preferredproposalmethod %>
          <% when 1 %>
            <p><strong>Email preferred</strong></p>
          <% when 2 %>
            <p><strong>Text preferred</strong></p>
          <% when 3 %>
            <p><strong>Phonecall preferred</strong></p>
        <% end %>

        <h3>Call the Duke</h3>
        <button onClick="call()", class="btn btn-success">Make Call</button>
        <button onClick="disconnect()", class="btn btn-danger">End Call</button>
        <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
        <script>
        // works on IE9 and above
        document.addEventListener("DOMContentLoaded", function(event) { Twilio.Device.setup("<%= @token %>"); });
        function call() { Twilio.Device.connect({id: <%= @duke.phonenumber %>}); }
        function disconnect() { Twilio.Device.disconnectAll(); }
        </script>

        <h4>Messages</h4>
        <% @messages.each do |message| %>
          <% if message.sentby_duke == true %>
            <%= "From Duke: " %>
            <%= message.body %><br />
          <% elsif message.sentby_squire == true %>
            <%= "From Squire: " %>
            <%= message.body %><br />
          <% else %>
            <%= "this shouldn't happen" %><br />
          <% end %>
        <% end %>

        <h3>Send the Duke a Text:</h3>
        <%= form_for @message do |form| %>
          <%= form.label "Enter message below:" %>
          <%= form.text_area :body, autocomplete: "off", class:"form-control", rows:"5", id:"comment" %>
          <%= form.hidden_field :squire_id, value: @quest.squire_id %>
          <%= form.hidden_field :duke_id, value: @quest.duke_id %>
          <%= form.hidden_field :quest_id, value: @quest.id %>
          <%= form.hidden_field :is_text, value: true %>
          <%= form.hidden_field :sentby_squire, value: true %>
          <p><%= form.submit "Send", class:'btn btn-primary' %></p>
        <% end %>


      </div>
    </div>
    <div class="col-md-5">
      <% if @quest.audiolink.nil? %>
        <h2><%= @quest.textlink %></h2>
      <% else %>
        <audio controls>
          <source src="<%= @quest.audiolink %>" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      <% end %>

      <% if @quest.is_completed == true %>
        <h1>Congrats this Quest is completed!</h1>

      <% elsif @quest.is_proofsubmitted == true %>
        <h3>You've submitted proof and it's under review</h3>

      <% elsif @quest.is_proposalaccepted == true %>
        <h3>Congrats the duke has accepted and paid for the proposal, please purchase and submit proof you've completed the job</h3>
        <%= form_for @quest do |form|%>
          <p><%= form.label "Upload Proof" %></p>
          <p><%= form.file_field :proof1, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.proof1, :width => 200), image_path(@quest.proof1) if @quest.proof1.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :proof2, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.proof2, :width => 200), image_path(@quest.proof2) if @quest.proof2.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :proof3, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.proof3, :width => 200), image_path(@quest.proof3) if @quest.proof3.present? %>

          <p><%= form.submit "Save", class:"btn btn-primary" %></p>
        <% end %>
        <% if @quest.proof1 != nil %>
          <%= button_to "Submit Proof (make sure it's saved first)", submitproof_quest_path(@quest), :method => "get", class:"btn btn-primary" %>
        <% else %>
          <strong>To submit this proof you need to at least upload one document and "Save"</strong>
        <% end %>

      <% elsif @quest.is_revisiontransition == true %>
        <%= form_for @quest do |form|%>

          <% if @quest.errors.any? %>
            <h2>Errors:</h2>
            <ul>
              <% @quest.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <p><%= form.label "Enter title below:" %></p>
          <p><%= form.text_field :title, autocomplete: "off", class:"form-control" %></p>

          <p><%= form.label "Enter description below:" %></p>
          <p><%= form.text_area :description, autocomplete: "off", class:"form-control" %></p>

          <p><%= form.label "Enter cost of quest:" %></p>
          <p><%= form.text_field :pricetosquire, autocomplete: "off", class:"form-control" %></p>

          <p>Platform fees: <%= number_to_currency(@quest.platformfees) %></p>
          <p>Squire Fees(your cut!): <%= number_to_currency(@quest.squirescut) %></p>
          <p>Total Cost of Quest: <%= number_to_currency(@quest.totalprice) %></p>

          <p><%= form.label "Upload a picture!" %></p>
          <p><%= form.file_field :picture1, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.picture1, :width => 200), image_path(@quest.picture1) if @quest.picture1.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :picture2, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.picture2, :width => 200), image_path(@quest.picture2) if @quest.picture2.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :picture3, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.picture3, :width => 200), image_path(@quest.picture3) if @quest.picture3.present? %>

          <p><%= form.submit "Save", class:"btn btn-primary" %></p>

        <% end %>
        <h3>The duke has requested the following revision to the proposal:</h3>
        <h4><%= @quest.revision %></h4>
        <h3>Please make those revisions and resubmit.</h3>

        <%= button_to "See how the revised proposal will look to the duke", quest_path(@quest), :method => "get", class:"btn btn-default" %>
        <%= button_to "Resubmit Proposal (make sure it's saved first)", submitrevisedproposal_quest_path(@quest), :method => "get", class:"btn btn-primary" %>

      <% elsif @quest.is_revisionrequested == true %>
        <%= form_for @quest do |form|%>

          <% if @quest.errors.any? %>
            <h2>Errors:</h2>
            <ul>
              <% @quest.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <p><%= form.label "Enter title below:" %></p>
          <p><%= form.text_field :title, autocomplete: "off", class:"form-control" %></p>

          <p><%= form.label "Enter description below:" %></p>
          <p><%= form.text_area :description, autocomplete: "off", class:"form-control" %></p>

          <p><%= form.label "Enter cost of quest:" %></p>
          <p><%= form.text_field :pricetosquire, autocomplete: "off", class:"form-control" %></p>

          <p>Platform fees: <%= number_to_currency(@quest.platformfees) %></p>
          <p>Squire Fees(your cut!): <%= number_to_currency(@quest.squirescut) %></p>
          <p>Total Cost of Quest: <%= number_to_currency(@quest.totalprice) %></p>

          <p><%= form.label "Upload a picture!" %></p>
          <p><%= form.file_field :picture1, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.picture1, :width => 200), image_path(@quest.picture1) if @quest.picture1.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :picture2, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.picture2, :width => 200), image_path(@quest.picture2) if @quest.picture2.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :picture3, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.picture3, :width => 200), image_path(@quest.picture3) if @quest.picture3.present? %>

          <%= form.hidden_field :is_revisiontransition, value: true %>

          <p><%= form.submit "Save", class:"btn btn-primary" %></p>

        <% end %>
        <h3>The duke has requested the following revision to the proposal:</h3>
        <h4><%= @quest.revision %></h4>
        <h3>Please make those revisions and resubmit.</h3>

        <%= button_to "See how the revised proposal will look to the duke", quest_path(@quest), :method => "get", class:"btn btn-default" %>
        <%= button_to "Resubmit Proposal (make sure it's saved first)", submitrevisedproposal_quest_path(@quest), :method => "get", class:"btn btn-primary" %>

      <% elsif @quest.is_revisedproposalsent == true %>
        <h3>Alright! You've submitted the revised proposal. Wait to hear what the duke thinks</h3>

      <% elsif @quest.is_proposalsent == true %>
        <h3>Alright! You've submitted the proposal. Wait to hear what the duke thinks</h3>

      <% elsif @quest.is_assigned == true %>
        <%= form_for @quest do |form|%>

          <% if @quest.errors.any? %>
            <h2>Errors:</h2>
            <ul>
              <% @quest.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <p><%= form.label "Enter title below:" %></p>
          <p><%= form.text_field :title, autocomplete: "off", class:"form-control" %></p>

          <p><%= form.label "Enter description below:" %></p>
          <p><%= form.text_area :description, autocomplete: "off", class:"form-control", id:"comment" %></p>

          <p><%= form.label "Enter cost of quest:" %></p>
          <p><%= form.text_field :pricetosquire, autocomplete: "off", class:"form-control" %></p>

          <p>Platform fees: <%= number_to_currency(@quest.platformfees) %></p>
          <p>Squire Fees(your cut!): <%= number_to_currency(@quest.squirescut) %></p>
          <p>Total Cost of Quest: <%= number_to_currency(@quest.totalprice) %></p>

          <p><%= form.label "Upload a picture!" %></p>
          <p><%= form.file_field :picture1, autocomplete: "off", class:"btn btn-info"  %></p>
          <%= link_to image_tag(@quest.picture1, :width => 200), image_path(@quest.picture1) if @quest.picture1.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :picture2, autocomplete: "off", class:"btn btn-info" %></p>
          <%= link_to image_tag(@quest.picture2, :width => 200), image_path(@quest.picture2) if @quest.picture2.present? %>

          <p><%= form.label "and another" %></p>
          <p><%= form.file_field :picture3, autocomplete: "off", class:"btn btn-info"  %></p>
          <%= link_to image_tag(@quest.picture3, :width => 200), image_path(@quest.picture3) if @quest.picture3.present? %>

          <p><%= form.submit "Save", class:"btn btn-primary" %></p>

        <% end %>
        <p>Is this quest unreasonable or just plan a joke? Click the flag button below</p>
        <%= button_to "Flag Quest", flagquest_quest_path(@quest), :method => "get", class:"btn btn-warning" %>

        <p>This quest is yours! complete the proposal and submit!</p>
        <%= button_to "See how the proposal will look to the duke", quest_path(@quest), :method => "get", class:"btn btn-default" %>
        <% if @quest.pricetosquire != 0 %>
          <%= button_to "Submit Proposal", submitproposal_quest_path(@quest), :method => "get", class:"btn btn-primary" %>
        <% else %>
          <strong>To submit this proposal you need to fill out this form, save, then look back here for the "submit proposal" button.</strong>
        <% end %>

      <% else %>
        <h1 id="log">Let's find you a quest</h1>
        <i class="fa fa-refresh fa-spin fa-5x"></i>
      <% end %>
    </div>
    <div class='col-md-3'>
      <div class='well well-sm'>
        <p>Logged in as <strong><%= current_user.email %></strong></br>
        You have <%= @quests.count %> quests in waiting</p>
        <%= link_to "Get Quest", getmyquest_quest_path(current_user), :method => "get", class: 'btn btn-primary btn-block' %>
        <% if current_user.is_text_active == true %>
          <%= link_to "Disable Text Quests", activeswitch_quest_path(current_user), :method => "get", class: 'btn btn-warning btn-block' %>
        <% else %>
          <p>You need to have "Text Quests" enabled to accept quests via text</p>
          <%= link_to "Enable Text Quests", activeswitch_quest_path(current_user), :method => "get", class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
      <div class='well well-sm'>
        <h2>Ongoing Quests</h2>
        <% @quests2.each do |quest| %>
          <% if quest.is_proofsubmitted == false %>
            <% if quest.audiolink.nil? %>
              <% if quest.title == nil %>
                <h3><%= link_to "Text Quest "+quest.id.to_s, edit_quest_path(quest) %></h3>
                <h3><%= link_to quest.textlink, edit_quest_path(quest) %></h3>
              <% else %>
                <h3><%= link_to quest.title, edit_quest_path(quest) %></h3>
              <% end %>
            <% else %>
              <% if quest.title == nil %>
                <h3><%= link_to "Audio Quest "+quest.id.to_s, edit_quest_path(quest) %></h3>
              <% else %>
                <h3><%= link_to quest.title, edit_quest_path(quest) %></h3>
              <% end %>
              <audio controls>
                <source src="<%= quest.audiolink %>" type="audio/wav">
                Your browser does not support the audio element.
              </audio>
            <% end %>
            <hr />
          <% end %>
        <% end %>
      </div>
      <div class="well well-sm">
        <h2>Quests awaiting proof confirmation</h2>
        <% @quests2.each do |quest| %>
          <% if quest.is_proofsubmitted == true %>
            <% if quest.audiolink.nil? %>
              <% if quest.title == nil %>
                <h3><%= link_to "Text Quest "+quest.id.to_s, edit_quest_path(quest) %></h3>
                <h3><%= link_to quest.textlink, edit_quest_path(quest) %></h3>
              <% else %>
                <h3><%= link_to quest.title, edit_quest_path(quest) %></h3>
              <% end %>
            <% else %>
              <% if quest.title == nil %>
                <h3><%= link_to "Audio Quest "+quest.id.to_s, edit_quest_path(quest) %></h3>
              <% else %>
                <h3><%= link_to quest.title, edit_quest_path(quest) %></h3>
              <% end %>
              <audio controls>
                <source src="<%= quest.audiolink %>" type="audio/wav">
                Your browser does not support the audio element.
              </audio>
            <% end %>
            <hr />
          <% else %>
          <% end %>
        <% end %>
      </div>
      <div class="well well-sm">
        <h2>Stats</h2>
        <p>Number of Quests Completed: <%= current_user.completedquests %></p>
        <p>Number of Notes Completed: <%= current_user.numberofnotes %></p>
        <p>Number of Reviews Received: <%= current_user.numberofreviews %></p>
        <p>Review Rating: %<%= current_user.reviewpercentage %></p>
      </div>
    </div>
  </div>

  <footer>
  </footer>
<% else %>
<% end %>
