<h1>Squire</h1>
<% if user_signed_in? %>
  <p> There are <%= @quests2.count + @dukes.where(email: nil).count %> available quests</p>
  Logged in as <strong><%= current_user.email %></strong>
  <%= link_to 'Edit Profile',edit_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

  <button onClick="call()">Make Call</button>
  <button onClick="disconnect()">End Call</button>
  <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
  <script>
  // works on IE9 and above
  document.addEventListener("DOMContentLoaded", function(event) { Twilio.Device.setup("<%= @token %>"); });
  function call() { Twilio.Device.connect({id: <%= @duke.phonenumber %>}); }
  function disconnect() { Twilio.Device.disconnectAll(); }
  </script>

  <h2>Notes on this Duke</h2>
  <% @notes.each do |note| %>
    <h3><%= note.title %></h3>
    <p><%= note.explanation %></p>
    <hr />
  <% end %>

  <%= form_for @quest do |form|%>

    <% if @quest.errors.any? %>
      <h2>Errors:</h2>
      <ul>
        <% @quest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @quest.audiolink.nil? %>
      <p><%= @quest.textlink %></p>
    <% else %>
      <audio controls>
        <source src="<%= quest.audiolink %>" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    <% end %>

    <p><%= form.label "Enter title below:" %></p>
    <p><%= form.text_field :title, autocomplete: "off" %></p>

    <p><%= form.label "Enter description below:" %></p>
    <p><%= form.text_area :description, autocomplete: "off" %></p>

    <p><%= form.label "Enter cost of quest:" %></p>
    <p><%= form.text_field :pricetosquire, autocomplete: "off" %></p>

    <p><%= form.submit "Submit" %></p>

  <% end %>

  <%= button_to "Get a Quest", getmeaquest_quest_path(current_user), :method => "get" %>

  <h2>Ongoing Quests</h2>
  <% @dukes.each do |duke| %>
    <% if (duke.squire_id == current_user.id) && (duke.registered == false) %>
      <p><%= link_to duke.phonenumber, edit_duke_path(duke) %></p>
    <% end %>
  <% end %>
  <% @quests.each do |quest| %>
    <% if quest.squire_id == current_user.id %>
      <h3><%= link_to quest.title, edit_quest_path(quest) %></h3>
      <p><%= quest.description %></p>
      <% if quest.audiolink.nil? %>
        <p><%= quest.textlink %></p>
      <% else %>
        <audio controls>
          <source src="<%= quest.audiolink %>" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      <% end %>
      <hr />
    <% else %>
    <% end %>
  <% end %>

  <h2>Stats</h2>
  <p>Number of Quests Completed: <%= current_user.completedquests %></p>
  <p>Number of Notes Completed: <%= current_user.numberofnotes %></p>
  <p>Number of Reviews Received: <%= current_user.numberofreviews %></p>
  <p>Review Rating: %<%= current_user.reviewpercentage %></p>

<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
  <hr />
  <h1>Welcome to Squire</h1>
  <p>Please Sign Up!</p>

<% end %>
