<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header page-scroll">
    <%= image_tag("3-slim.png", :width => 150, class:"imager2") %>
  </div>
</nav>
<div class="container">
  <% if @quest.is_completed == true %>
    <h1>Thank You, this Quest is completed</h1>
  <% elsif @quest.is_proofsubmitted == true %>
    <h1>Thank You for submitting proof</h1>
    <% if current_user != nil %>
      <% if current_user.is_admin == true %>
        <h1><%= @quest.title %></h1>
        <h2><%= @quest.description %></h2>
        <h2>Price: <%= number_to_currency(@quest.totalprice) %></h2>
        <h3>Uploaded Images:</h3>
        <%= image_tag(@quest.picture1, :width => 200) if @quest.picture1.present? %>
        <%= image_tag(@quest.picture2, :width => 200) if @quest.picture2.present? %>
        <%= image_tag(@quest.picture3, :width => 200) if @quest.picture3.present? %>
        <%= image_tag(@quest.proof1, :width => 500) if @quest.proof1.present? %>
        <%= image_tag(@quest.proof2, :width => 500) if @quest.proof2.present? %>
        <%= image_tag(@quest.proof3, :width => 500) if @quest.proof3.present? %>

        <% if @quest.audiolink.nil? %>
          <h2><%= @quest.textlink %></h2>
        <% else %>
          <audio controls>
            <source src="<%= @quest.audiolink %>" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        <% end %>

        <%= button_to "Release Payment", releasepayment_quest_path(@quest), :method => "get"%>
      <% end %>
    <% end %>

  <% elsif @quest.is_proposalaccepted == true %>
    <h1>Congrats, the proposal was accepted please pay for and submit the job</h1>
    <h1><%= @quest.title %></h1>
    <h2><%= @quest.description %></h2>
    <h2>Price: <%= number_to_currency(@quest.totalprice) %></h2>
    <h3>Uploaded Images:</h3>
    <%= image_tag(@quest.picture1, :width => 200) if @quest.picture1.present? %>
    <%= image_tag(@quest.picture2, :width => 200) if @quest.picture2.present? %>
    <%= image_tag(@quest.picture3, :width => 200) if @quest.picture3.present? %>

    <% if @quest.audiolink.nil? %>
      <h2><%= @quest.textlink %></h2>
    <% else %>
      <audio controls>
        <source src="<%= @quest.audiolink %>" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    <% end %>

    <p>Click the button below to accept the proposal and pay for your Quest.</p>
    <%= image_tag("stripe-pay-button.png") %>
    <p>(In the Duke's version this button will allow them to pay for the quest)</p>
    <%= button_to "Submit Proposal", submitproposal_quest_path(@quest), :method => "get" %>

    <p><%= link_to "Back", edit_quest_path(@quest) %></p>

  <% elsif @quest.is_revisionrequested == true %>
    <h1><%= @quest.title %></h1>
    <h2><%= @quest.description %></h2>
    <h2>Price: <%= number_to_currency(@quest.totalprice) %></h2>
    <h3>Uploaded Images:</h3>
    <%= image_tag(@quest.picture1, :width => 200) if @quest.picture1.present? %>
    <%= image_tag(@quest.picture2, :width => 200) if @quest.picture2.present? %>
    <%= image_tag(@quest.picture3, :width => 200) if @quest.picture3.present? %>

    <% if @quest.audiolink.nil? %>
      <h2><%= @quest.textlink %></h2>
    <% else %>
      <audio controls>
        <source src="<%= @quest.audiolink %>" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    <% end %>

    <p>Click the button below to accept the proposal and pay for your Quest.</p>
    <%= image_tag("stripe-pay-button.png") %>
    <p>(In the Duke's version this button will allow them to pay for the quest)</p>
    <%= button_to "Submit Proposal", submitproposal_quest_path(@quest), :method => "get" %>

    <p><%= link_to "Back", edit_quest_path(@quest) %></p>

  <% elsif @quest.is_revisedproposalsent == true %>
    <h1><%= @quest.title %></h1>
    <h2><%= @quest.description %></h2>
    <h2>Price: <%= number_to_currency(@quest.totalprice) %></h2>
    <h3>Uploaded Images:</h3>
    <%= image_tag(@quest.picture1, :width => 200) if @quest.picture1.present? %>
    <%= image_tag(@quest.picture2, :width => 200) if @quest.picture2.present? %>
    <%= image_tag(@quest.picture3, :width => 200) if @quest.picture3.present? %>

    <% if @quest.audiolink.nil? %>
      <h2><%= @quest.textlink %></h2>
    <% else %>
      <audio controls>
        <source src="<%= @quest.audiolink %>" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    <% end %>

    <p>Click the button below to accept the proposal and pay for your Quest.</p>
    <% if @duke.customertoken == nil %>
      <%= form_tag paybill_quest_path(@quest) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key= "<%= Rails.application.secrets.stripe_publishable_key %>"
                data-description="A Completed Quest"
                data-amount="<%= @quest.totalprice * 100 %>">
        </script>
      <% end %>
    <% else %>
      <%= button_to "Submit Payment", paycharge_quest_path(@quest), :method => "get" %>
    <% end %>

    <h4>Would you like the squire to make another revision to the proposal?</h4>
    <%= form_for @quest do |form| %>
      <p><%= form.label "Enter new revision below:" %></p>
      <p><%= form.text_area :revision, autocomplete: "off" %></p>
      <%= form.hidden_field :is_revisionrequested, value: true %>
      <p><%= form.submit "Send" %></p>
    <% end %>

  <% elsif @quest.is_proposalsent == true %>
    <h1><%= @quest.title %></h1>
    <h2><%= @quest.description %></h2>
    <h2>Price: <%= number_to_currency(@quest.totalprice) %></h2>
    <h3>Uploaded Images:</h3>
    <%= image_tag(@quest.picture1, :width => 200) if @quest.picture1.present? %>
    <%= image_tag(@quest.picture2, :width => 200) if @quest.picture2.present? %>
    <%= image_tag(@quest.picture3, :width => 200) if @quest.picture3.present? %>

    <% if @quest.audiolink.nil? %>
      <h2><%= @quest.textlink %></h2>
    <% else %>
      <audio controls>
        <source src="<%= @quest.audiolink %>" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    <% end %>

    <p>Click the button below to accept the proposal and pay for your Quest.</p>
    <% if @duke.customertoken == nil %>
      <%= form_tag paybill_quest_path(@quest) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key= "<%= Rails.application.secrets.stripe_publishable_key %>"
                data-description="A Completed Quest"
                data-amount="<%= @quest.totalprice * 100 %>">
        </script>
      <% end %>
    <% else %>
      <%= button_to "Submit Payment", paycharge_quest_path(@quest), :method => "get" %>
    <% end %>

    <h4>Would you like the squire to make a revision to the proposal?</h4>
    <%= form_for @quest do |form| %>
      <p><%= form.label "Enter revision below:" %></p>
      <p><%= form.text_area :revision, autocomplete: "off" %></p>
      <%= form.hidden_field :is_revisionrequested, value: true %>
      <p><%= form.submit "Send" %></p>
    <% end %>

  <% elsif @quest.is_assigned == true %>
    <h1><%= @quest.title %></h1>
    <h2><%= @quest.description %></h2>
    <h2>Price: <%= number_to_currency(@quest.totalprice) %></h2>
    <h3>Uploaded Images:</h3>
    <%= link_to image_tag(@quest.picture1, :width => 200), image_path(@quest.picture1) if @quest.picture1.present? %>
    <%= link_to image_tag(@quest.picture2, :width => 200), image_path(@quest.picture2) if @quest.picture2.present? %>
    <%= link_to image_tag(@quest.picture3, :width => 200), image_path(@quest.picture3) if @quest.picture3.present? %>

    <% if @quest.audiolink.nil? %>
      <h2><%= @quest.textlink %></h2>
    <% else %>
      <audio controls>
        <source src="<%= @quest.audiolink %>" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    <% end %>

    <p>Click the button below to accept the proposal and pay for your Quest.</p>
    <%= image_tag("stripe-pay-button.png") %>
    <p>(In the Duke's version this button will allow them to pay for the quest)</p>
    <%= button_to "Submit Proposal", submitproposal_quest_path(@quest), :method => "get" %>

    <p><%= link_to "Back", edit_quest_path(@quest) %></p>
  <% else %>
    <p>Nope</p>
  <% end %>
</div>
